@import "../../App.scss";

.navbar {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	padding: 1rem 3rem;
	border-bottom: $border1;
}

.button-secondary {
	background-color: $secondary;
	margin-top: 0.2rem;
}