@import "../../App.scss";

table {
	margin-top: 2.25rem;
	border: $border1;
	border-radius: 7px 7px 0px 0px;
	border-collapse: collapse;
}

.table-head {
	text-align: left;

	th {
		border-bottom: $border2;
		font-weight: 600;
		color: $grey-100;
		padding: 1rem 2rem;
	}
	.id {
		display: none;
	}
}

.item-row,
tr {
	border-bottom: $border1 !important;

	td {
		color: $grey-100;
		padding: 1rem 2rem;
	}

	.description {
		max-width: 33rem;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.link {
		width: 20rem;
	}
	.id {
		display: none;
	}

	&:last-child {
		td {
			border: 0;
		}
	}
}

.table-footer {
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;
	@media screen and  (max-width:500px) {
		flex-direction: column;
		gap: 1rem;
	}

	.action-buttons {
		.button-secondary {
			background-color: $secondary;
			margin-right: 2rem;
		}

		.button-tertiary {
			background-color: $red;
		}
	}

	.pagination button {
		// padding: 0.4rem 0.7rem 0.3rem;
		font-size: 12px;
		border: $border1;
		background: #fff;
		color: $grey-100;

		&.active {
			border: 1px black solid;
			color: #000;
		}
	}
}

.table-heading {
	display: flex;
	margin-top: 3rem;
	justify-content: space-between;
	@media screen and  (max-width:500px) {
		flex-direction: column;
		gap: 1rem;
	}

	.heading {
		font-size: 2rem;
		font-weight: 500;
	}
}